[access]
	inheritFrom = All-Projects
[project]
	description = Code for building policies/rules for the Drools PDP engine.
[access "refs/*"]
	owner = group ldap/onap-gerrit-policy-drools-applications-committers
	owner = group saml/onap-gerrit-policy-drools-applications-committers
	read = group GitHub Replication
